.gen
.msg
.swc
.idea
.vscode
.eclipse

artifacts
artifacts/*
artifacts/**

node_modules
node_modules/*
node_modules/**

distribution
distribution/*
distribution/**

declarations
declarations/*
declarations/**

.terraform/*

*.tfstate
*.tfstate.*

cdktf.out
cdktf.out/*
cdktf.out/**

.DS_Store

*.tgz
*.zip
*.tar

tsconfig.tsbuildinfo

.terraform

.terraform.tfstate
.terraform.tfstate.backup
.terraform.tfstate.backup.*

.env
.env.local
.env.local.*
.env.*.local
.env.*.local.*

*.d.ts
*.d.ts.map

coverage

lerna-debug.log

*.js
*.map
